# Turn rewrite engine on
Options +FollowSymlinks
RewriteEngine on

# map neat URL to internal URL

## Stok Birim ##
RewriteRule ^api/getStokBirimById/([0-9]+)$   api/RestControllers/StokBirimRest.php?view=birimID&id=$1 [nc,qsa]
RewriteRule ^api/getStokBirimInfoById/([0-9]+)$   api/RestControllers/StokBirimRest.php?view=birimInfo&id=$1 [nc,qsa]
RewriteRule ^api/getStokById/([0-9]+)$   api/RestControllers/StokBirimRest.php?view=stokbyid&id=$1 [nc,qsa]
RewriteRule ^api/getSicaklikById/([0-9]+)$   api/RestControllers/StokBirimRest.php?view=sicaklikbyid&id=$1 [nc,qsa]
## --Stok Birim-- ##

## Sehir ##
RewriteRule ^api/getAllSehir$   api/RestControllers/SehirRest.php?view=all [nc,qsa]
RewriteRule ^api/getIlceByID/([0-9]+)$   api/RestControllers/SehirRest.php?view=allIlce&id=$1 [nc,qsa]
## --Sehir-- ##

RewriteRule ^api/getTuketimNedeniByName/([a-zA-Z0-9]*)$   api/RestControllers/TuketimNedeniRest.php?view=byName&name=$1 [nc,qsa]

RewriteRule ^api/getUreticiByName/([a-zA-Z0-9]*)$   api/RestControllers/UreticiRest.php?view=byName&name=$1 [nc,qsa]

## Urun ##
RewriteRule ^api/getUrunByTagOrName/tag/?([^/])*/name/?([^/]*)$   api/RestControllers/UrunRest.php?view=byTagOrName&tag=$1&name=$2 [nc,qsa]
RewriteRule ^api/getUrunInfoById/([0-9]+)$   api/RestControllers/UrunRest.php?view=uruninfobyid&id=$1 [nc,qsa]
## --Urun-- ##


RewriteRule ^api/getAlarmByIdOrStcNo/id/?([^/])*/stcno/?([^/]*)$   api/RestControllers/AlarmRest.php?view=byIdOrStcNo&id=$1&stcno=$2 [nc,qsa]

## Birim ##
RewriteRule ^api/getBirimByIlceName/il/([^/])*/ilce/([^/]*)$   api/RestControllers/BirimRest.php?view=byIlceName&il=$1&ilce=$2 [nc,qsa]
RewriteRule ^api/getBirimInfoById/([0-9]+)$   api/RestControllers/BirimRest.php?view=biriminfo&id=$1 [nc,qsa]
RewriteRule ^api/getBirimStokById/([0-9]+)$   api/RestControllers/BirimRest.php?view=birimstokbyid&id=$1 [nc,qsa]
RewriteRule ^api/getBirimKullaniciById/([0-9]+)$   api/RestControllers/BirimRest.php?view=birimkullanicibyid&id=$1 [nc,qsa]
## --Birim-- ##

RewriteRule ^api/getDolapTipiByName/([a-zA-Z0-9]*)$   api/RestControllers/DolapTipiRest.php?view=byName&name=$1 [nc,qsa]

## Sıcaklık Takip Cihazı ##
RewriteRule ^api/getStcById/([a-zA-Z0-9]*)$   api/RestControllers/StcRest.php?view=byId&id=$1 [nc,qsa]
RewriteRule ^api/getStcSicaklikById/([a-zA-Z0-9]*)$   api/RestControllers/StcRest.php?view=sicaklikbyid&id=$1 [nc,qsa]
## -- Sıcaklık Takip Cihazı -- ##

RewriteRule ^api/getUrunTanimByName/([a-zA-Z0-9]*)$   api/RestControllers/UrunTanimRest.php?view=byName&name=$1 [nc,qsa]

## Kullanıcı ##
RewriteRule ^api/getKullaniciByTC/([0-9]+)$   api/RestControllers/KullaniciRest.php?view=byTC&tc=$1 [nc,qsa]
RewriteRule ^api/getKullaniciInfoById/([0-9]+)$   api/RestControllers/KullaniciRest.php?view=byId&id=$1 [nc,qsa]
RewriteRule ^api/getKullaniciAdresById/([0-9]+)$   api/RestControllers/KullaniciRest.php?view=adresbyid&id=$1 [nc,qsa]
RewriteRule ^api/getKullaniciIletisimById/([0-9]+)$   api/RestControllers/KullaniciRest.php?view=iletisimbyid&id=$1 [nc,qsa]